Accounting points.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountingPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="AccountingPoint">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="city" type="xs:string" />
              <xs:element name="street" type="xs:string" />
              <xs:element name="building" type="xs:string" />
              <xs:element name="flat" type="xs:unsignedByte" />
              <xs:element name="firstName" type="xs:string" />
              <xs:element name="lastName" type="xs:string" />
              <xs:element name="phoneNumber" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="account" type="xs:int" />
              <xs:element name="powerMeterNumber" type="xs:int" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>